# Django Configuration
DJANGO_SECRET_KEY=django-insecure-m#^w3r&d_cloud_computing_2026_unit2_key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,web

# MariaDB Database Configuration
DB_NAME=mariadb_django
DB_USER=django_user
DB_PASSWORD=django_password
DB_ROOT_PASSWORD=mariadb_root_password
DB_HOST=db
DB_PORT=3306
